.form-control{
	width: auto;
	margin: 0 auto;
}

.well{
	width: 50%;
	margin: 0 auto;
	background-color: #F5F5F5;
}

body{

	background-image: url("pic2.jpg");
	background-size: 100%;

}

.btn{
	width: 50%;
	margin: 0 auto;
}
.form-horizontal{
	margin-left: 35%;
}