.form-control{
	width: auto;
	margin: 0 auto;
}

.well{
	width: 50%;
	margin: 0 auto;
	background-color: #F5F5F5;
}

body{
	background-color: #e74c3c;
}

.btn{
	width: 50%;
	margin: 0 auto;
}
.form-horizontal{
	margin-left: 35%;
}